$bg: #FEF5DF;

body {
  background-color: $bg;
}


.product-card {
  position: relative;
  top: 100px;
  display: inline-block;
  width: 20%;
  height: 250px;
  padding-top: 2%;
  padding-left: 1.5%;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 5px #FF416C;

  &:hover {
    box-shadow: 0 0 10px #FF416C;
  }

  .overlay {
    width: 90%;
    height: 90%;

    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(255, 255, 255, 0.9);
    color: #FF416C; // Use the background color variable directly
    opacity: 0;
    transition: all 0.5s;
    //font-family: 'Playfair Display', serif;

    .items {
      padding-top: 10%;
      padding-left: 10px;
      line-height: 80%;
      letter-spacing: 3px;
      cursor:auto;
      background-image: var(--product-image-url); // Use the custom CSS variable for background image
      .old {
        text-decoration: line-through;
        color: lighten(rgb(77, 77, 77),40%);
      }
      .discrip{
        cursor: pointer;

      }
      .add,i{
        line-height: 65px;
        cursor: pointer;
        color: lighten(rgb(255, 155, 6),20%);
      }
    }



    &:hover {
      opacity: 1;
    }
  }
}
.price-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
  margin-left: 14%;




  .cart-buttons {
    display: flex;
    align-items: center;

    .add-to-cart-btn {
      background-color: rgba(0, 128, 0,0.5);
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #af001b;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      margin-right: 10%;


      input {
        width: 80%;
        height: 30px;
        margin-right: 5%;
        text-align: center;
      }

      .add-btn {
        background-color: #d10024;
        color: #fff;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
          background-color: #af001b;
        }
      }
    }
  }
}
.container:hover .overlay {
  opacity: 1;


  & hr {
    width: 30px;
    transition-delay: 0.4s;
  }


}
